*{
    box-sizing: border-box;
}
.our-proj{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 90px;
    height: fit-content;
    padding:10px;
}
.proj-title{
    font-weight: bold;
    color: rgba(53, 53, 70, 1);
    text-decoration: none;
}
.proj-hr{
    border-top: 2px solid rgba(64, 106, 255, 1);
    width:100px;
    opacity: 100%;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom:50px;
}
.second{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}
.swith-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle , .picture{
    padding:10px;
}
.circle{
    margin-left: 170px;
    z-index: -1;
}
.picture{
    margin-left: -50px; 
}

.cir-1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 30%;  
}
.cir-2{
    opacity: 30%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: -120px;
    margin-top: -100px;   
}
.image1{
    margin-top: -120px;
    width:400px;
    position: absolute;
}
.image2{
    width:400px;
}
.proj-text{
    margin-left: 50px;
}
.rot-title{
    text-align: left;
    transform: rotateZ(-10deg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.swith-btn img , .btn-down img{
    width:30px;
    height:30px;
}
.swith-btn{
    margin-left: -40px;
    display: flex;
    justify-content: center;
}

.btn-link {
    text-decoration: none;
}
.btn-down:hover .btn-link{
    color:white;
}
.btn-down:hover img{
    filter: grayscale(100%);
    filter: brightness(0) invert(1);
}
.color-rec{
    width:590px;
    height:500px;
    padding-top: 70px;  
    z-index: 0;
    transform: skewY(-5deg);
}
.container-white{
    margin-top: -450px;
    position: absolute;
}
.container-white button{
    background-color: white;
    width:50px;
    height:50px;
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    margin-bottom: -20px;
    box-shadow: 0px 4px 10px 0 rgba(64, 106, 255, 0.25);
}
.white{
    background-color: white;
    width:500px;
    height:500px;
    border-radius: 20px;
    margin-left: -30px;
    box-shadow: 0px 4px 20px 0 rgba(70, 161, 239, 0.3);
    text-align: left; 
    padding: 30px 30px 3px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.white h1{
    color:rgb(64, 106, 255) ;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 40px;
}
.cir-3{
    height: 30px;
    width:30px;
    margin-left: 5px;
    border-radius: 50%;
    opacity: 100%;
}

.white .btn-down{
    height:50px;
    width:200px;
    margin-left: -110px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid rgb(64, 106, 255);
    color:rgb(64, 106, 255) ;
    box-shadow: none;
}
.white .btn-down:hover{
    color:white ;
    background-color: rgb(64, 106, 255);

}
.btn-down *{
    margin-left: 20px;
}
.color-rec{
    z-index: -1;
}
.proj-img{
    margin-right: 40px;
    margin-bottom: 100px;
}

.picture *{
    margin-left: 70px;
}
.circle *{
    z-index: 0;
    position: relative;
}
.line *{
    margin-top: -270px;
    z-index: -1;
    transform: rotate(-10deg);
    width:1000px;
    margin-left: -100px;
}
.vec2{
    margin-top: -290px;
}

@media   screen and (width < 640px) {
    .container-white , .color-rec{
        margin-left: 50px;
    }
    .circle .cir-1{
        margin-left: 100px;
    }
    .circle .cir-2{
        margin-left: 0px;
    }
    .picture *{
        margin-left: 170px;
    }
}
@media   screen and (width < 540px) {
    .container-white {
        margin-left: 130px;
        margin-right: 50px;   
    }
    .rot-title{
        margin-left: 25px;
    }
    .color-rec{
        width:500px;
        margin-left: 130px;
    }
    .white{
        width:400px;
    }
    .picture {
        width:300px;
        margin-left: -380px;
    }
}